body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #9f41ad; /* Fondo morado que mencionaste */
  color: #fff; /* Texto blanco para que destaque sobre el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: hidden; /* Evitar desplazamientos horizontales no deseados */
}

.app {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo para pantallas grandes */
  /* padding: 20px; */
  text-align: center;
}

@media (max-width: 1000px) {
  .app {
    max-width: 100%;
  }
}
